version: "3.8"

services:
  service-registry:
    build:
      context: ./service-discovery
      dockerfile: Dockerfile
    container_name: service-registry
    ports:
      - 8761:8761
    networks:
      - peerprepnet

  api-service:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - 8765:8765
    depends_on:
      - service-registry
    networks:
      - peerprepnet
  
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    env_file:
      - ./user-service/.env
    container_name: user-service
    ports:
      - 3001:3001
    depends_on:
      - service-registry
    networks:
      - peerprepnet

  question-service:
    build:
      context: ./question-service/backend
      dockerfile: Dockerfile
    env_file:
      - ./question-service/backend/.env
    container_name: question-service
    ports:
      - 8080:8080
    depends_on:
      - service-registry
    networks:
      - peerprepnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    # env_file:
    #   - ./frontend/.env
    container_name: frontend
    depends_on:
      - service-registry
      - user-service
      - question-service
    networks:
      - peerprepnet
    
  rabbitmq:
    image: rabbitmq:3-management
    ports: 
      - 5672:5672
      - 15672:15672
    networks:
      - peerprepnet
    container_name: rabbitmq

  matching-service:
    build:
      context: ./matching-service
      dockerfile: Dockerfile
    env_file:
      - ./matching-service/.env
    container_name: matching-service
    ports:
      - 3002:3002
    depends_on:
      - service-registry
      - rabbitmq
    networks:
      - peerprepnet

    
networks:
  peerprepnet:
    name: peerprepnet